ansi2html
astor
bottleneck
brotli
certifi
cffi
chardet
chart_studio
click
cloudpickle
cycler
dash
dash-auth
dash-core-components
dash-html-components
dash-renderer
debugpy
decorator
flask
flask-Compress
flask-SeaSurf
google
greenlet
gunicorn
idna
importlib_metadata
ipykernel
ipython-genutils
ipywidgets
itsdangerous
jinja2
joblib
jsonschema
jupyter-dash
jupyter-core
kiwisolver
markupsafe
numexpr
matplotlib
nbformat
packaging
pexpect
pickleshare
pycaret
portpicker
prompt_toolkit
psutil
ptyprocess
pyarrow
pydevd
pydevd_concurrency_analyser 
pydevd_file_utils           
pydevd_plugins              
pydevd_tracing 
pygments
pytz
pandas
plotly
pymongo[srv]
pyparsing
dnspython
pytz
requests
retrying
scipy
seaborn
sklearn
simplegeneric
sitecustomize
six
socks
statsmodels
threadpoolctl
tornado
traitlets
typing_extensions
ua_parser
urllib3
wcwidth
werkzeug
zipp
zmq


